.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 60px;
    background-color: #212121;
}
    
.hero-logo {
    width: 212px;
    max-width: 100%;
    aspect-ratio: 0.92;
    object-fit: contain;
    object-position: center;
    margin-top: 344px;
    fill: #efe2c2;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

html, body {
    height: 100vh;
    margin: 0;
    background-color: #212121; /* Change this to your desired color */
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.2);
}
    
@media (max-width: 991px) {
    .hero-section {
        padding: 0 20px;
    }
      
    .hero-logo {
        margin-top: 40px;
    }
}

    
    