#registerButton {
    text-decoration: none;
    width: 330px; 
    height: 55px; 
    left: 50px; 
    top: 757px; 
    position: absolute; 
    text-align: center;
    background-color: #EFE3C2;
    color: black; 
    font-size: 17px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-weight: 400; 
    word-wrap: break-word;
    user-select: none;
    cursor: pointer;
    border-radius: 15px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

img{
    transform: scale(0.2);
    position: absolute;
    top:0%;
    z-index: 1;
    left: 7%;
}