body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#reserveButton:hover {
    cursor: pointer;
}

#endReservation:hover {
    cursor: pointer;
}