body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.arrow:hover {
    cursor: pointer;
}

#endReservation:hover {
    cursor: pointer;
}

#makePayment:hover {
    cursor: pointer;
}
